{% extends 'base.html' %}

{% block title %} | Services {% endblock %}
{% block content %}

<!-- Sub banner start -->

<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Services</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Services start -->
<div class="services content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Our <span>Services</span></h1>
            <p>"Our car rental service helps you rent a car easily. You can choose from different types of cars for short or long periods. We provide cars that are clean, safe, and reliable. Whether you need a car for a trip or daily use, we've got you covered. Just pick your car, book it, and you're ready to go!"</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">1</div>
                    <div class="icon">
                        <i class="flaticon-support-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Free Support</h3>
                        <p>This support can include things like roadside assistance in case the car breaks down, guidance on using the vehicle features, help with navigation or directions, or assistance with any issues you encounter during your rental period.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">2</div>
                    <div class="icon">
                        <i class="flaticon-speed"></i>
                    </div>
                    <div class="detail">
                        <h3>Super Fast</h3>
                        <p>Super Fast car rental is a service where you can quickly and easily rent a car for a short period of time, usually for a day or a few days. It's like borrowing a car when you need it without the hassle of owning one. With Super Fast, you can choose from a variety of cars depending on your needs and preferences, and you typically pay a fee for the rental period.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">3</div>
                    <div class="icon">
                        <i class="flaticon-motor"></i>
                    </div>
                    <div class="detail">
                        <h3>Repairing</h3>
                        <p>Car rental companies typically provide vehicles to customers for temporary use, usually for a fee. When it comes to repairing cars in a rental service like maintenance checks,customer responsibility,damage assessment,repair process,insurance coverage etc...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">4</div>
                    <div class="icon">
                        <i class="flaticon-air-conditioner"></i>
                    </div>
                    <div class="detail">
                        <h3>AIR conditioning</h3>
                        <p>Our vehicles come equipped with reliable air conditioning systems, ensuring a pleasant and enjoyable ride regardless of the weather outside. Stay cool and comfortable throughout your journey with our top-notch AC facilities."</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">5</div>
                    <div class="icon">
                        <i class="flaticon-fuel"></i>
                    </div>
                    <div class="detail">
                        <h3>Oil Change</h3>
                        <p>One of the simplest yet most crucial aspects of vehicle maintenance is the regular oil change.Oil serves as the lifeblood of an engine, lubricating its moving parts, reducing friction, and preventing wear and tear. Over time, oil becomes contaminated with debris and loses its effectiveness, leading to potential damage to the engine if not replaced regularly.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">7</div>
                    <div class="icon">
                        <i class="flaticon-wheel"></i>
                    </div>
                    <div class="detail">
                        <h3>Engine Repair</h3>
                        <p>Our dedicated team understands the significance of engine repair in maintaining the safety and reliability of your journey.Engine repair involves a meticulous process of diagnosing and rectifying any issues that may affect the functionality of the vehicle's engine. From routine maintenance to addressing unexpected malfunctions, our experts are equipped with the knowledge and skills to handle various engine-related concerns.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">6</div>
                    <div class="icon">
                        <i class="flaticon-car-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Dealership</h3>
                        <p>Dealership - Your Trusted Gateway to a Memorable Ride

                            Embark on your journey with confidence and ease, guided by the comforting assurance of dealership services. In the realm of car rental, dealership stands as the cornerstone of reliability, offering a seamless experience from selection to departure.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">8</div>
                    <div class="icon">
                        <i class="flaticon-lock"></i>
                    </div>
                    <div class="detail">
                        <h3>Security</h3>
                        <p>"Security is our top priority for Car Rentals. We meticulously inspect and maintain our vehicles to ensure they meet the highest safety standards. Additionally, our rental process includes comprehensive insurance coverage and 24/7 roadside assistance for your peace of mind. Rent with us and drive with confidence!"</p>
                    </div>
                </div>
            </div>
	
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">9</div>
                    <div class="icon">
                        <i class="flaticon-deal"></i>
                    </div>
                    <div class="detail">
                        <h3>Trusted Agents</h3>
                        <p>Our car rental service relies on a network of verified and dependable agents. These professionals ensure a seamless rental experience, prioritizing customer satisfaction and safety. With their expertise and commitment, we guarantee reliability and peace of mind throughout every journey. Trust in our trusted agents for a hassle-free rental experience </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services end -->



<!-- Service center strat -->
<div class="service-center content-area-5">
    <div class="container">
        <div class="column">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
               
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3>Finally our services <span></h3>
                    <p>Our car rental services offer convenient and flexible transportation solutions for individuals and businesses alike. With a wide range of vehicles to choose from, customers can select the option that best suits their needs, whether it's for a short trip or an extended journey. Additionally, the ease of booking online and the availability of pick-up and drop-off locations make renting a car a hassle-free experience. Overall, car rental services provide an efficient and cost-effective way to travel, offering freedom and convenience without the commitment of ownership.    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Service center end -->

{% endblock %}
